body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

/* Taskbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 30px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Startbereich */
.hero {
    margin-top: 80px;
}

.hero-logo {
    width: 150px;
    margin-bottom: 20px;
}
