/* Grundlayout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* Topbar */
.topbar {
    background-color:  #0a1a3a;; /* dunkelblau */
    padding: 20px;
}

.topbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.topbar a:hover {
    color: #5fa8ff;
}

/* Hero Section */
.hero {
    padding: 150px 20px;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
}

.hero h2 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 10px;
}

/* Logo */
.logo {
    width: 300px;
    margin-bottom: 30px;
}

/* Links Section */
.links {
    padding: 100px 20px;
}

.links a {
    display: block;
    margin: 20px 0;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: #5fa8ff;
}

/* Back Button */
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 16px;
    background: #112a60;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

.back-button:hover {
    background: #5fa8ff;
}