body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: #fafafa;
}

header {
    background: black;
    color: white;
    padding: 40px;
}

section {
    padding: 40px;
}
